INFLUX_USERNAME="username_InfluxDB"
INFLUX_PASSWORD="password_InfluxDB"
INFLUX_ORG=Iot
INFLUX_BUCKET=LoadTest
INFLUX_TOKEN="generierter Token"

GRAFANA_USERNAME="username_Grafana"
GRAFANA_PASSWORD="password_Grafana"